/* 
    cores HEX: #765EFF
*/
.navbar-brand {
    font-weight: 500;
    font-size: 24px;
    color: #765EFF;
}
.navbar-brand:hover {
    color: #9886ff;
}


.btn {
    background-color: #765EFF;
    color: #f3f5f6;
    text-decoration: none;
    transition: 0.3s background-color;
}

.btn:hover {
    background-color: #9886ff;
    color: #f3f5f6;
}

.nav-link {
    color: grey;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}
.btn.d-lg-none.d-block {
    height: 40px;
    width: 160px;
}

.cards-second-section .card {
    width: 18rem;
    height: 23rem;
    border: 1px solid rgb(148, 148, 148);
}
/* .cards-sixth-section .card {
    width: 22rem;
    border: 1px solid rgba(0, 0, 0, 0.425);
} */
.third-session, .Seventh-session {
    background-color: #f3bb5ba6;
}



@media (min-width: 991px) {

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #765EFF;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 90%;
        visibility: visible;
    }
}
